.site-name
  display none !important

.hero h1
  display none

.home .hero .description
  max-width 90%
  margin-bottom 4rem

.home .hero img
  max-width 30rem
  margin-bottom 6rem

.token.variable
  color #76cae2

.token.operator
  color orange
